<div>
    <form method="post" action="/dashixiongwx/admin/user/doassignment">
        用户ID <input type="text" id="userId" name="userId">
        选择店面 
        <select id="" name="shopId">
            <option value="0">选择店面</option>
            <option value="1">惠经店</option>
            <option value="2">广工程西店</option>
            <option value="3">广工程东店</option>
            <option value="5">大学城贝岗店</option>
            <option value="6">大学城蒸快快餐</option>
        </select>
        <input type="submit" value="用户转店">
    </form>
</div>
