<style type="text/css" media="all">
    .query-btn{cursor:pointer;}
    .input-style{width:500px;}
</style>

<h1>编辑推送按钮</h1>
<div class="queryBox">
    <form action="/dashixiongwx/admin/shop/${shop_id}/product/doadd/voice" enctype="multipart/form-data" method="post">
        <p>按钮名称 : <input type="text" placeholder="如：有单" name="title" class="input-word input-style" value="${voice.title}" /></p>
        <p>绑定店铺 : <input type="text" placeholder="如：1，0表示所有店铺共用" name="shop_id" class="input-style" value="${voice.shopId}" /></p>
        <p>上传声音 : <input name="voice" type="file" />${voice.voice}</p>
        <input type="hidden" name="v_id" value="${v_id}" />
        <input type="submit" class="query-btn" value="提 交"/>
    </form>
</div>
