<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<a href="/dashixiongwx/admin/shop/${shop_id}/selectUserClickNum?y=${pre_date_y}&m=${pre_date_m}&d=${pre_date_d}">前一天</a>
<a href="/dashixiongwx/admin/shop/${shop_id}/selectUserClickNum?y=${next_date_y}&m=${next_date_m}&d=${next_date_d}">后一天</a>
<br/><br/>
<table width="25%">
    <tr>
        <td>日期</td>
        <td>分类导航点击数</td>
    </tr>
    <tr>
        <td>${ymd.time}</td>
        <td>${ymd.len}</td>
    </tr>
</table>
</body>
</html>