<style>
	ul,li,p{margin:0;padding:0;}
	h1{
		font-size : 18px;	
		line-height : 24px;
		margin-bottom : 5px;
		text-align : center;
	}
	h2{
		line-height : 18px;
		font-size:16px;
		border-bottom : 1px dashed #888;		
		padding : 0px 8px 8px 0;
		margin-bottom : 5px;
		color : #666;

	}
	ul{
		margin-bottom : 10px;
		list-style : none;
	}
	li{
		color : #333;	
		line-height:1.2;
		/*list-style:disc;*/
	}
	.num{
		color : #333;
        font-size: 32px;
        font-weight: bolder;
	}
	.bigNum{
		/*color : #CCC;*/
        /*font-size:18px;*/
        /*font-weight:bold;*/
	}
	.total-pay, .total-num{
		color : orange;	
		font-size : 18px;
	}
	.back-to-store{
		margin-bottom : 15px;	
	}
	.qr{
		text-align : center;	
	}
	.qr img,code {
		width : 90%;	
	}

	.say{
		color : #000;
		text-align : left;
		font-weight : 900;
		font-size : 18px;
		padding : 3px 0;
	}
	.qr-head{
		margin-top : 10px;	
	}
	.qr-head, .qr-foot{
		text-align : center;	
		font-size : 18px;
	}
	.shop-name{
		color : #000;	
		font-weight : 700;
	}
	.info-backup{
		margin : 35px 0;
		text-align : center;
		border-top: solid 1px #888;
	}
	.info-backup h4{
		margin : 0 0 20px 0;	
	}
	.info-block{
		margin-top : 20px;	
	}
	.print{
		text-align : center;	
	}
	.print a{
		padding : 10px;	
		display : block;
	}
	.print a:hover{
		background : #40A0C0;	
		color : #FFF;
	}
	.shop-group{
		border : 1px solid #000;	
		font-size : 18px;	
		line-height : 24px;
		margin-bottom : 5px;
		text-align : center;
	}
	.intime{
		font-size : 10px;		
	}
    .barcode{
        display:none;
    }
    .info-address{
        border : 1px solid #000;     
    }
    .express-info label{
        text-decoration : underline; 
    }
    .margin_b_10{
        margin-bottom : 10px; 
    }
	@media print{
        #nav,.print,.shortcut,.nobackup, #top{
            display : none;
        }
        ul,ol{
            font-size : 14px;
            line-height : 14px;
        }
        .temp-font-size{
            font-size: 18px;
        }
	}
    .pay-info{
        position: relative;
        font-size: 16px;
    }
    .info{
        font-size: 16px;
    }
    .pay-status{
        display: block;
        border: 2px solid black;
        position: absolute;
        top: 40px;
        left: 330px;
        font-size: 48px;
        height: 48px;
        line-height: 48px;
    }
    .title{
        font-size: 20px;
    }
</style>
<div class="print">
	<a id="print" onclick="return false;" href="#">打印送货单</a>
</div>

<p class="shortcut">
【按P键即可打印】
</p>
<div class="nobackup">
    <!--
    {{if !query.nobackup}}
    {{else}}
    {{/if}} 
    <a id="remove_backup" href="/dashixiongwx/admin/shop/${shop_id}/order/${order.id}/detail?nobackup=1">去掉财务联和送货联</a>
    -->
    <a id="remove_backup" style="position:fixed;" >去掉财务联和送货联</a><br>
    <a id="remove_finance" style="position:fixed;" >去掉财务联</a>
</div>

<div class="container">
	<!--<p class="say">
		{{if motto}}
			${motto.content}
		{{else}}
			“外卖半个钟，呼叫大师兄!” —— 致青春
		{{/if}}
	</p>-->
    {{if order_snapshot.requirements}}

        <span class="say" >特殊吩咐：</span>
        {{each(requirement, i) order_snapshot.requirements}}
        <p class="say">
            {{html requirement}}
        </p>
        {{/each}}


    {{/if}}

    <!--{{if order_snapshot.requirements}}
    <h2>其他吩咐</h2>
    <ul class="say">
        {{each(requirement, i) order_snapshot.requirements}}
        <li>
            <p>{{html requirement}}</p>
        </li>
        {{/each}}
    </ul>
    {{/if}}-->

	<h2>呼叫大师兄收货信息</h2>
	<ul class="info pay-info">
		<li>单号:${order.id}，${order.intime}</li>
		<li>${order.name}，<span class="info-address">${order.address}</span></li>
        {{if order.shortTel}}
        <li>${order.mobile}&nbsp;&nbsp;短号:${order.shortTel}</li>
        {{/if}}
        {{if order.payStatus==1}}<div class="pay-status">已付款</div>{{/if}}
	</ul>



	<h2>
		购物袋信息(<strong class="total-num">${order_snapshot.total_num}</strong>件东西，
		共<strong class="total-pay">${order_snapshot.total_pay.toFixed(1)}</strong> 元
		{{if deliver_info}}	
		，含${deliver_info.price}元跑腿费
		{{/if}}	
		)
	</h2>
	<ul class="bag">
		{{each(product, i) order_snapshot.products_bought}}
		<li>
        <p class="temp-font-size"><span class="title">${product.title}</span> <strong class="price">${product.price_deal.toFixed(1)}元</strong>/<span class="unit">${product.unit}</span> <strong><span class="num {{if product&&product.count-0>1}}bigNum{{/if}}">x${product.count}</span></strong></p>
		</li>
		{{/each}}
	</ul>
    {{if order_snapshot.tool_ids}}
    <h2>道具信息</h2>
    <p>
        使用了${order_snapshot.tool_ids.length} 个道具
    </p>
    {{/if}}
    
    {{if order_snapshot.express_info_fetch}}
    <h2>取件信息</h2>
    <p>
        ${order_snapshot.express_info_fetch} 
    </p>
    {{/if}}

    {{if order_snapshot.express_info_sent}}
    <h2>寄件信息</h2>
	<div class="express-info">
        <p class="margin_b_10 margin_b_10">
            <label for="">寄件公司 </label>: ${order_snapshot.express_info_sent.company}
        </p>
        <p class="margin_b_10 margin_b_10">
            <label for="">收件人 </label>: ${order_snapshot.express_info_sent.receiver.replace(/undefined/g,'')}
        </p>
        <p class="margin_b_10">
            <label for="">寄件人 </label>: ${order_snapshot.express_info_sent.sender.replace(/undefined/g,'')}
        </p>
	</div>
    {{/if}}




    <h2>呼叫大师兄(${config.shopName})</h2>
	<ul class="info">
		<li>
            电话: ${config.recipeTel}
		</li>
		<!--<li>
			新浪微博: @呼叫大师兄 (欢迎调戏)
		</li>-->
	</ul>


	<p class="qr-head">微信扫扫, 送货上门</p>
	<div class="qr">
		<img src="http://img.ksmimi.com/uploads/articles/d0ee2890b56ffb2801d12df5faaedb12.jpeg"	/>
	</div>
	<p class="qr-foot">货到付款, 方便快捷</p>

	<div class="info-backup none payment">
		<h4>送货联</h4>
		<p>时间: ${order.intime}</p>
        <img src="#" class="S-barcode barcode" order_id="S-${order.id}" style="display: inline-block;" />
		<div>
			S-${order.id}， ${order_snapshot.total_pay.toFixed(1)}元
		</div>
	</div>
	<div class="info-backup info-finance">
		<h4>递货联</h4>
		<p>时间: ${order.intime}</p>
        <img src="#" class="D-barcode barcode" order_id="D-${order.id}"style="display: inline-block;"  />
		<div>
			D-${order.id}， ${order_snapshot.total_pay.toFixed(1)}元
		</div>
	</div>
    <div class="info-backup info-finance">
		<h4>捡货联</h4>
		<p>时间: ${order.intime}</p>
        <img src="#" class="J-barcode barcode" order_id="J-${order.id}" style="display: inline-block;" />
		<div>
			J-${order.id}， ${order_snapshot.total_pay.toFixed(1)}元
		</div>
	</div>

</div>

<script src="http://${staticHost}/dsx/jspro/jquery.cookie.js"></script>
<script src="http://${staticHost}/dsx/jspro/JsBarcode.js"></script>
<script src="http://${staticHost}/dsx/jspro/CODE128.js"></script>
<script>
    $(function(){

        var finance = $.cookie('finance');
        if( finance == 'show' ){
            $('.info-backup').hide();
            $('#remove_backup').text('添加财务联和送货联');
        }else{
            $('.info-backup').show();
            $('#remove_backup').text('去掉财务联和送货联');
        }
        
        $('#remove_backup').click(function(){
            var f = $.cookie('finance');
            if( f == 'show' ){
                $(this).text('去掉财务联和送货联');
                $.cookie('finance', 'hide', {expires:30, path:'/'});
                $.cookie('finance2', 'hide', {expires:30, path:'/'});
            }else{
                $(this).text('添加财务联和送货联');
                $.cookie('finance', 'show', {expires:30, path:'/'});
                $.cookie('finance2', 'show', {expires:30, path:'/'});
            }
            $('.info-backup').toggle();
            return;
        });


        //---lufeng------start----
        var finance2 = $.cookie('finance2');
        if( finance2 == 'show' ){
            $('.info-finance').hide();
            $('#remove_finance').text('添加财务联');
        }else{
            $('.info-finance').show();
            $('#remove_finance').text('去掉财务联');
        }

        $('#remove_finance').click(function(){

            var f2 = $.cookie('finance2');
            if( f2 == 'show' ){
                $(this).text('去掉财务联');
                $.cookie('finance2', 'hide', {expires:30, path:'/'});
            }else{
                $(this).text('添加财务联');
                $.cookie('finance2', 'show', {expires:30, path:'/'});
            }
            $('.info-finance').toggle();
            return;
        });
        //---lufeng------end----



    });
    var shop_id = ${shop_id};
    var order_id = ${order.id};
    var print_docket =  function () {
        //更改订单状态
        $.get( '/dashixiongwx/admin/shop/'+ shop_id +'/order/'+ order_id +'/status/update/1' );
        window.print();
    };

	$(document).keyup(function(e){
		if(e.keyCode == 80){
            print_docket();
		}else if(e.keyCode == 68){
            var href = $('#remove_backup').attr('href');
			location.href = href;
		}
	}); $( '#print' ).click(function () {
        print_docket();
    });

    $(function(){
        var search = location.search;
        //生成条码
        $('.barcode').each(function(){
            $code_img = $(this);
            $code_img.JsBarcode($code_img.attr('order_id'), {height:50}).show();
        });
        //自动点击打印
        if( search.indexOf('auto_print=1') != -1 ){
            window.print();
        }

    });

</script>
