<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="http://a.ksmimi.com/store/src/csspro/employee/thanks_css.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="iframe">
    <div class="close">
    </div>
    <div class="body">
        <div class="box">
            <div class="msg">
                <p>&nbsp;&nbsp;信息提交成功，请密切留意我们的微信消息！</p>
                <div class="link_store"><a class="go_store" href="http://www.ksmimi.com/dashixiongwx/shop/${shop_id}/rd/index?wx_id=${wx_id}">进入便利店</a></div>
            </div>
            <div class="loge"><img src="http://a.ksmimi.com/store/src/jspimg/employee/dxg_uncle.png"/></div>
        </div>
    </div>
</div>
</body>
</html>