<div class="content">
    {{if user}}

    {{else}}
    <p class="guest-note guest-note-top none">
        微信搜索服务号“大师兄小卖部”，关注我们吧！啤下面咯~
    </p>
    {{/if}}

    <h2 class="article-title yahei">${article.title}</h2>

    <div class="article-info">
        <ul class="info-ul clearfix">
            <li class="info-li">
                <img class="info-icon" src="http://s.ksmimi.com/dashixiong_static/img/human_head.jpg" alt="" />
                ${article.author||'游客'}
            </li>
            <li class="info-li">
                <img class="info-icon" src="http://s.ksmimi.com/dashixiong_static/img/clock.jpg" alt="" />
                ${article.intime}
            </li>
            <li class="info-li">
                <img class="info-icon" src="http://s.ksmimi.com/dashixiong_static/img/eye.jpg" alt="" />
                ${article.viewCount}
            </li>
        </ul>
    </div>

    <div class="article-content">
        <div class="content-text">{{html  article.content}}</div>
        {{if article.img}}
        <img src="http://img.ksmimi.com/uploads/articles/${article.img}" style="width:100%" class="content-img" alt=""/>
        {{/if}}
    </div>

    {{if user}}
    <div class="like">
        <span class="like-btn">
            赞<label class="like-num">( ${likes.length} )</label>
        </span>
    </div>
    {{/if}}
    <div class="like-users-arrow-wraper">
        <span class="like-users-arrow2"></span>
        <span class="like-users-arrow"></span>
    </div>
    <!--<p class="likes">
        <span class="like-users-wraper">
            <span class="like-users"> </span>
        </span>
    </p>-->

    <div class="comments">
        <h2 class="yahei comment-title">评论</h2>
        <div class="comment-list"></div>
    {{if user}}
        <p class="mine">
            <span class="">${user.nick}</span> <input id="comment" type="text" />
            <span class="btn">评论</span>
        </p>

    {{else}}
        <p class="guest-note none">
            内有恶犬，胆小勿入！——大师兄小卖部
        </p>
    {{/if}}
    </div>
</div>

<script type="text/javascript">
    var comments = {{html JSON.stringify(comments)}};
    var likes = {{html JSON.stringify(likes)}};
    var shop_id = ${shop_id};
    var article_id = ${article.id};

    var staticheads = '${staticheads}';
    var defaultheads = '${defaultheads}';
    //----------------- 一些UI --------------
    var $comment_list = $( '.comment-list' );
    var $comment = $( '#comment' );
    var $like_users = $( '.like-users' );
    //---------------------------------------

    var make_comment_item_html = function (obj) {
        if(obj.head){
            var html = [
                '<div class="item clearfix">',
                        '<div class="user-head"><img class="user-img" src="'+ staticheads+obj.head +'" /></div>',
                '<div class="item-text">',
                '<p class="user-nick">', obj.nick, '<span class="comment-time">', obj.intime, '</span></p>',
                '',
                '<div class="user-comment">', obj.content, '</div>',
                '</div>',
                '</div>'
            ];
        }else{
            var html = [
                '<div class="item clearfix">',
                        '<div class="user-head"><img class="user-img" src="'+ defaultheads +'" /></div>',
                '<div class="item-text">',
                '<p class="user-nick">', obj.nick, '<span class="comment-time">', obj.intime, '</span></p>',
                '',
                '<div class="user-comment">', obj.content, '</div>',
                '</div>',
                '</div>'
            ];
        }
        return html.join('');
    };

    var show_comments = function (cmmts) {
        var html = [];
        comments.forEach(function (comment) {
            html.push( make_comment_item_html( comment ) );
        });
        $( '.comment-list' ).html( html.join('') );
    };

    show_comments( comments );

    //显示出喜欢这个文章的有谁
    var show_likes = function (likes) {
        //反序
        likes.reverse();
        var len = likes.length;
        var str = '';
        if( len >5 ){
            likes.length = 5;
            str = '等'+ len +'人';
        }
        var html = [];
        likes.forEach(function (like) {
            html.push('<span class="like-user">'+ like.nick +'</span>');
        });
        html = html.join( ',' );
        $like_users.html( html );
    };
    show_likes( likes );

</script>

{{if user}}
<script type="text/javascript">
    var user = {{html JSON.stringify(user)}};
    var likes =  {{html JSON.stringify(likes)}};
    var article = {{html JSON.stringify(article)}};

    var showLike = function () {
        $( '.like-already' ).show();
        $( '.like-action' ).hide();   
    };
    
    var user_like_this_article = false;
    for(var i=0 ; i<likes.length; i++){
        if( likes[i].userId == user.id ) {
            user_like_this_article = true; 
        }
    }
    if( user_like_this_article ){
        showLike();
    }
    
    var isPosting = false; 
	$('.btn').click(function(){
        if( isPosting ) return;
        var val = $comment.val();
        if( !val )return;
        
        isPosting = true;
		//ajax 提交评论内容					
		$.post('/dashixiongwx/shop/'+shop_id+'/community/comment', {
            content : val,
            article_id : article_id,
            author_id : article.userId
		}, function (res) {
            isPosting = false;
            var html = make_comment_item_html({
                nick : res.comment.nick,
                head : res.comment.head,
                content : val,
                intime : res.comment.intime
            });
            $comment_list.append( html );
            $comment.val('');
		});
	});

    $( '.like-btn' ).click(function () {
		$.get('/dashixiongwx/shop/'+shop_id+'/community/article/'+article_id+'/like', function (res) {
            if( !res.code ){
                showLike();
                likes.push({nick:user.nick});
                show_likes(likes);
                var $like_num = $( '.like-num' );
                var val = $like_num.text();
                val = 0;
                /*val -= 0;*/
                $like_num.text( ++val );
                location.reload();
            }
		});
    });

</script>
{{/if}}





