<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title></title>
<style type="text/css">
body{background:#fff;margin: 0;padding: 0;color:#4f6b72; font-family:"微软雅黑","Microsoft YaHei", sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
.box{width:100%;margin:0 auto; border:0;}
ul,li{list-style:none;display: block;margin:0;padding:0;border:0; outline:0;font-size:100%; vertical-align:baseline; background:transparent;}
li{margin-bottom:6px;}
a{text-decoration:none; color:#40A0C0;}
table{margin:5px 2% 15px 2%;width:96%;}
th, td{padding:10px;}
th{text-align:left;}
tfoot td{text-align:left;}
th span{font-weight:normal;}
.client-name{line-height:1.5em;}
.requirement{color:#FF1493;}

</style>
<script type="text/javascript" src="zepto.js"></script>
</head>
<body>
<div class="box">
    <table border="1" bordercolor="#ccc" cellpadding="1" cellspacing="1">
        <thead>
            <tr class="client-order">
                <th colspan="2">
                    东区宿舍4310</br>
                    <span>
                        2014-02-26 13:30:19(3小时前)
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
        <tr class="client-order">
            <td>
				<ul>
					<li>
						【加多宝】 310ml x 1
					</li>
				</ul>
            </td>
            <td class="client-name">
                Name:
                <a href="/dashixiongwx/admin/shop/2/order/list/1007/梁">
                    梁
                </a>
                <br />
                Tel:
                <a href="tel:15622147998">
                    15622147998
                </a>
                <br />
                Price:
                10.3 元
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ul class="requirement">
                    <li>
                    我是土豪, 我用百元大钞记得带零钱
                    </li>
                </ul>
            </td>
        </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <a class="action" orderid="9358" type="deliver" href="/dashixiongwx/admin/shop/2/order/9358/status/update/1" onclick="return false;">配送</a> | 
                    <a class="action" orderid="9358" type="receive" href="/dashixiongwx/admin/shop/2/order/9358/status/update/2" onclick="return false;">确认收货</a> | 
                    <a class="action" orderid="9358" type="cancel" href="/dashixiongwx/admin/shop/2/order/9358/status/update/3" onclick="return false;">取消订单</a>
                </td>
            </tr>
        </tfoot>
    </table>

    <table border="1" bordercolor="#ccc" cellpadding="1" cellspacing="1">
        <thead>
            <tr class="client-order">
                <th colspan="2">
                    东区宿舍4310</br>
                    <span>
                        2014-02-26 13:30:19(3小时前)
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
        <tr class="client-order">
            <td>
			
				
				<ul>
					<li>
						【康师傅】红烧牛肉面 x 5
					</li>
					<li>
						【康师傅】鲜虾鱼板面 x 2
					</li>
					<li>
						【统一】老坛酸菜牛肉面 x 2
					</li>
					<li>
						【雀巢】脆脆鲨 巧克力味 x 1
					</li>
					<li>
						【无穷】爱辣鸡米 x 1
					</li>
					<li>
						【乡吧佬】五香茶蛋 x 3
					</li>
					<li>
						【加多宝】 310ml x 1
					</li>
					<li>
						【无穷】爱辣小翅 大师兄说好吃 x 1
					</li>
				</ul>
				

				
					
            </td>
            <td class="client-name">
                Name:
                <a href="/dashixiongwx/admin/shop/2/order/list/1007/梁">
                    梁
                </a>
                <br />
                Tel:
                <a href="tel:15622147998">
                    15622147998
                </a>
                <br />
                Price:
                10.3 元
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ul class="requirement">
                    <li>
                    我是土豪, 我用百元大钞记得带零钱
                    </li>
                </ul>
            </td>
        </tr>

        </tbody>
        <tfoot>
        
            <tr>
                <td colspan="2">
                    <a class="action" orderid="9358" type="deliver" href="/dashixiongwx/admin/shop/2/order/9358/status/update/1" onclick="return false;">配送</a> | 
                    <a class="action" orderid="9358" type="receive" href="/dashixiongwx/admin/shop/2/order/9358/status/update/2" onclick="return false;">确认收货</a> | 
                    <a class="action" orderid="9358" type="cancel" href="/dashixiongwx/admin/shop/2/order/9358/status/update/3" onclick="return false;">取消订单</a>
                </td>
            </tr>
        </tfoot>
    </table>
    <table border="1" bordercolor="#ccc" cellpadding="1" cellspacing="1">
        <thead>
            <tr class="client-order">
                <th colspan="2">
                    东区宿舍4310</br>
                    <span>
                        2014-02-26 13:30:19(3小时前)
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
        <tr class="client-order">
            <td>
                <ul>

                    <li>
                    【统一】老坛酸菜牛肉面 x 2
                    </li>
                    <li>
                    【乡吧佬】五香茶蛋 x 1
                    </li>
                    <li>
                    【加多宝】 310ml x 1
                    </li>
                    <li>
                    【统一】老坛酸菜牛肉面 x 2
                    </li>
                    <li>
                    【乡吧佬】五香茶蛋 x 1
                    </li>
                    <li>
                    【加多宝】 310ml x 1
                    </li>
                    <li>
                    【统一】老坛酸菜牛肉面 x 2
                    </li>
                    <li>
                    【乡吧佬】五香茶蛋 x 1
                    </li>
                    <li>
                    【加多宝】 310ml x 1
                    </li>
                </ul>
            </td>
            <td class="client-name">
                Name:
                <a href="/dashixiongwx/admin/shop/2/order/list/1007/梁">
                    梁
                </a>
                <br />
                Tel:
                <a href="tel:15622147998">
                    15622147998
                </a>
                <br />
                Price:
                10.3 元
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ul class="requirement">
                    <li>
                    我是土豪, 我用百元大钞记得带零钱
                    </li>
                </ul>
            </td>
        </tr>

        </tbody>
        <tfoot>
        
            <tr>
                <td colspan="2">
                    <a class="action" orderid="9358" type="deliver" href="/dashixiongwx/admin/shop/2/order/9358/status/update/1" onclick="return false;">配送</a> | 
                    <a class="action" orderid="9358" type="receive" href="/dashixiongwx/admin/shop/2/order/9358/status/update/2" onclick="return false;">确认收货</a> | 
                    <a class="action" orderid="9358" type="cancel" href="/dashixiongwx/admin/shop/2/order/9358/status/update/3" onclick="return false;">取消订单</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</body>
</html>
