<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>呼叫大师兄</title>
    <style>
        body{
            margin: 0px;
            padding: 0px;
            background-color: #f6f4e8;
        }
        .container{
            width: 100%;
        }
        img{
            width: 100%;
            margin: 0;
            padding: 0;
            max-height: 600px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="http://a.ksmimi.com/store/src/img/app_download.png?v=0.0.6" alt="在浏览器中打开">
    </div>
</body>
</html>