<style>
	ul,li,p{margin:0;padding:0;}
	h1{
		font-size : 18px;	
		line-height : 24px;
		margin-bottom : 5px;
		text-align : center;
	}
	h2{
		line-height : 18px;
		font-size:16px;
		border-bottom : 1px dashed #888;		
		padding : 8px 8px 8px 0;
		margin-bottom : 10px;
		color : #888;

	}
	ul{
		margin-bottom : 25px;	
		list-style : none;
	}
	li{
		color : #333;	
		line-height:1.5;
		list-style:disc;
	}
	.num{
		color : #CCC;
	}
	.total-pay, .total-num{
		color : orange;	
		font-size : 18px;
	}
	.back-to-store{
		margin-bottom : 15px;	
	}
	.qr{
		text-align : center;	
	}
	.qr img,code {
		width : 90%;	
	}

	.say{
		color : #000;
		text-align : left;			
		font-weight : 900;
		font-size : 18px;
		padding : 10px 0;
	}
	.qr-head{
		margin-top : 10px;	
	}
	.qr-head, .qr-foot{
		text-align : center;	
		font-size : 14px;
	}
	.shop-name{
		color : #000;	
		font-weight : 700;
	}
	.info-backup{
		margin : 90px 0;	
		text-align : center;
		border-top: solid 1px #888;
	}
	.info-backup h4{
		margin : 0 0 20px 0;	
	}
	.info-block{
		margin-top : 20px;	
	}
	.print{
		text-align : center;	
	}
	.print a{
		padding : 10px;	
		display : block;
	}
	.print a:hover{
		background : #40A0C0;	
		color : #FFF;
	}
	.shop-group{
		border : 1px solid #000;	
		font-size : 18px;	
		line-height : 24px;
		margin-bottom : 5px;
		text-align : center;
	}
	.intime{
		font-size : 10px;		
	}
	@media print{
		#nav,.print,.shortcut,.nobackup{
			display : none;	
		}	
		ul,ol{
			font-size : 12px;	
			line-height : 12px;
		}
		

	}
</style>

<div class="print">
	<a onclick="window.print();return false;" href="#">打印送货单</a>
</div>

<p class="shortcut">
【按P键即可打印】
</p>
<div class="nobackup">
{{if !query.nobackup}}
    <a id="remove_backup" href="/dashixiongwx/admin/shop/${shop_id}/order/${order.id}/detail?nobackup=1">去掉财务联和送货联</a>
{{else}}
	<a href="/dashixiongwx/admin/order/${order.id}/detail">添加财务联和送货联</a>
{{/if}}
</div>

<div class="container">
	
	
	<p class="say">
        {{if !order_snapshot.products_bought||!order_snapshot.products_bought.length}}
        ${order.name}同学，虽然没抢到，但也送一包咪咪！再接再厉哦！ 
        {{else}}
        ${order.name}同学，要幸福哦！朋友圈发个照片显摆一下吧！
        {{/if}}
	</p>

	<h2>大师兄小卖部收货信息</h2>
	<ul class="info">
		<li>单号:${order.id}，${order.intime}</li>
		<li>${order.name}，${order.address}</li>
		<li>${order.mobile}</li>
	</ul>

	{{if order_snapshot.requirements}}
	<h2>其他吩咐</h2>
		<ul class="info">
			{{each(requirement, i) order_snapshot.requirements}}
			<li>
				<p>${requirement}</p>
			</li>
			{{/each}}
		</ul>
	{{/if}}

	<h2>
		购物袋信息(<strong class="total-num">${order_snapshot.total_num}</strong>件东西，
		共<strong class="total-pay">${order_snapshot.total_pay.toFixed(1)}</strong> 元
		{{if deliver_info}}	
		，含${deliver_info.price}元跑腿费
		{{/if}}	
		)
	</h2>
	<ul class="bag">
		{{each(product, i) order_snapshot.products_bought}}
		<li>
		<p><span class="title">${product.title}</span> <strong class="price">${product.price_deal}元</strong>/<span class="unit">${product.unit}</span> <span class="num">x${product.count}</span></p>
		</li>
		{{/each}}
	</ul>

	<h2>大师兄微信小卖部</h2>
	<ul class="info">
		<li>
			短号: 675372
		</li>
		<li>
			新浪微博: @大师兄小卖部 (欢迎调戏)
		</li>
	</ul>


	<p class="qr-head">微信扫扫, 送货上门</p>
	<div class="qr">
		<img src="http://s.ksmimi.com/dashixiong_static/img/qr.jpg"	/>
	</div>
	<p class="qr-foot">货到付款, 方便快捷</p>

	{{if !query.nobackup}}
	<div class="info-backup">
		<h4>送货联</h4>	
		<p>时间: ${order.intime}</p>
		<div>
			订单号${order.id}: ${order_snapshot.total_pay.toFixed(1)}元
		</div>
		<!--
		<img class="code" src="http://apps.99wed.com/baiduapp/barcode/barcode.php?codebar=BCGcode39&text=s1-1234&resolution=2&thickness=30"/>
		-->
	</div>
	<div class="info-backup">
		<h4>财务联</h4>	
		<p>时间: ${order.intime}</p>
		<div>
			订单号${order.id}: ${order_snapshot.total_pay.toFixed(1)}元
		</div>
	</div>
	{{/if}}

</div>


<script>
	$(document).keyup(function(e){
		if(e.keyCode == 80){
			window.print();
		}else if(e.keyCode == 68){
			location.href = $('#remove_backup').attr('href');
		}
	});
</script>
